# build 
build/

# outshit 
out 
output

# exes
*.o
*.out
*.elf 
*.exe

# alkyl specific
*.ast
*.tok
*.alir
*.semc

# valgrind
*.valgrind*
vgcore.*
massif.out.*

# files 
kampwng-comp
kampwng 

# llvm specific
*.ll

# alkyl specific
alkyl
alkyl-cli

# cmake  
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# makefile
Makefile
Testing/
CPackConfig.cmake
CPackSourceConfig.cmake
