# build 
build/

# outshit 
out.*
output

# exes
mout
out
*.o
*.out
*.elf 
*.exe

# alkyl specific
*.ast
*.tok
*.alir
*.semc

# valgrind
*.valgrind*
vgcore.*
massif.out.*

# files pre
kampwng-comp
kampwng 
faranaiki

# llvm specific
*.ll

# assembly specific
out.s

# alkyl specific
alkyl
alkyl-cli

# cmake  
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# makefile
Makefile
Testing/
CPackConfig.cmake
CPackSourceConfig.cmake
